version: "3.7"

services:
  server:
    image: homebridge/homebridge:2025-11-08@sha256:4b2cc22d3e764555061105cf7c745501aaa8fb17d2e4e0a5ecea5d9ef42ac02e
    # container runs as root
    network_mode: host
    # available at port 8581
    volumes:
      - ${APP_DATA_DIR}/data/qsv-homebridge:/homebridge
    devices:
      - /dev/dri:/dev/dri
    restart: on-failure