version: "3.7"

services:
  server:
    image: homebridge/homebridge:2025-09-28@sha256:8d92ec9c3bf25462cb014e8679262c4569e8ab45bd5be19661168f5315e55dc1
    # container runs as root
    network_mode: host
    # available at port 8581
    volumes:
      - ${APP_DATA_DIR}/data/qsv-homebridge:/homebridge
    devices:
      - /dev/dri:/dev/dri
    restart: on-failure